:root{
    --orColor:#fbae3c;
    --fontColor:#d5d5d5;
}
.group {
    position: relative;
    margin-bottom: 40px;
   }
   /* .group:nth-of-type(2){
    margin-bottom: 30px;
   } */
   .input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
    color: var(--fontColor);
    font-weight: bold;
   }
   
   .input:focus {
    outline: none;
   }
   
   label {
    color: #999;
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    pointer-events: none;
    right: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
   }
   
   .input:focus ~ label, .input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: var(--orColor);
   }
   
   .bar {
    position: relative;
    display: block;
    width: 200px;
   }
   
   .bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: var(--orColor);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
   }
   
   .bar:before {
    left: 50%;
   }
   
   .bar:after {
    right: 50%;
   }
   
   .input:focus ~ .bar:before, .input:focus ~ .bar:after {
    width: 50%;
   }
   
   .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    right: 0;
    pointer-events: none;
    opacity: 0.5;
   }
   
   .input:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease;
   }
   
   @keyframes inputHighlighter {
    from {
     background: var(--orColor);
    }
   
    to {
     width: 0;
     background: transparent;
    }
   }

/*
   Button
*/
button {
    --color: var(--orColor);
    font-family: inherit;
    display: inline-block;
    width: 6em;
    height: 2.6em;
    line-height: 2.5em;
    overflow: hidden;
    margin: 20px 0;
    font-size: 17px;
    z-index: 1;
    color: var(--color);
    border: 2px solid var(--color);
    border-radius: 6px;
    position: relative;
    background-color: #232824;
    font-weight: bold;
  }
  
  .btLink {
    --color: var(--fontColor)!important ;
  }
  button::before {
    position: absolute;
    content: "";
    background: var(--color);
    width: 150px;
    height: 200px;
    z-index: -1;
    border-radius: 50%;
  }
  
  button:hover  {
    color: white;
  }
  
  button:before {
    top: 100%;
    left: 100%;
    transition: .3s all;
  }
  
  button:hover::before {
    top: -30px;
    left: -30px;
  }

  /*
  sing up option class
  */
